@import url("../mainStyles.css");

body {
  background-color: #f6f6f7;
}

.survey-step2 {
  background-color: #fff;
  width: 60%;
  margin: 5rem auto;
  padding: 3rem;
  border-radius: 10px;
}
.survey-step2 p {
  margin-bottom: 0;
  font-size: 26px;
}
.survey-step2 .textFaded {
  font-size: 20px;
  color: #6d7381;
}

p.stepNumber {
  font-size: 12px;
}

p.hint {
  margin-top: 2rem;
  text-align: left;
  font-size: 15px;
}

.checkBoxes {
  margin-top: 1rem;
  text-align: left;
}

.controlBtns {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  text-align: right;
  padding: 0 2rem;
}
.controlBtns .back {
  color: #6d7381;
  text-decoration: none;
}

.controlBtns .skip-btn {
  border: 2px solid;
  margin-inline-end: 10px;
  padding: 6px 25px;
}
.controlBtns .next-btn {
  background-color: var(--primary-color);
}
.next-btn a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  padding: 6px 25px;
}
