@import url("css/normalize.css");
@import url("css/bootstrap.min.css");
@import url("css/all.css");

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

/* general styles */
:root {
  --primary-color: #9bb0e9;
}

body {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  direction: rtl;
}

input{
  padding: 15px !important;
}

.btn {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  transition: ease-in-out 0.2s;
  font-weight: bold;
}

.btn a {
  color: #fff;
  width: 100%;
  text-decoration: none;
  transition: ease-in-out 0.2s;
}

.btn:hover {
  background-color: #fff;
  border-color: var(--primary-color);
}
.btn:hover a {
  color: var(--primary-color);
}
